<div class="m-auto" id="dashboard-image">
  <div class="card" style="width: 30rem;background-color: transparent;">
    
      <table class="table">
        <tr>
          <td class="border">
            <div>
              <h1 class="display-2">30&deg; C</h1>
              <p><strong>30&deg;C - 40&deg;C</strong></p>
            </div>
          </td>
          <td class="border-right-none"> 
            <div>
              <h4>Jabalpur<small class="text-muted">(IN)</small></h4>
            </div>
            <div>
              <small><strong>Latitude:</strong> ---- </small>
            </div>
            <div>
                <small><strong>Longitude:</strong> ---- </small>
            </div>
          </td>
        </tr>
      </table>
      <div class="card-body">
          <table class="table">
              <tr>
                  <td>
                      <p><strong>Weather</strong>: cloudy</p>
                  </td>
              </tr>
              <tr>
                <td>
                    <p><strong>Pressure</strong>: 2000ps</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Humidity</strong>: 7865</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Wind Speed</strong>: 7865</p>
                </td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div>
